<center>
  <h1>All Pets at <%= @shelter.name %></h1>

  <section id="pet-count">
    <%= "There Are Currently #{@shelter.pet_count} Pets At #{@shelter.name}" %><br/><br/>
  </section>

  <% @pets.each do |pet| %>
    <section class = "pets">
      <section id= 'pet-<%=pet.id%>'>
        <img src= <%= pet.image %>>
        <p>Name: <%= link_to pet.name, "/pets/#{pet.id}" %></p>
        <p>Age: <%= pet.approximate_age %></p>
        <p>Sex: <%= pet.sex %></p>
        <p>Current Shelter: <%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}" %></p>
        <p> <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %> </p>
        <p> <%= link_to "Delete Pet Profile", "/pets/#{pet.id}", method: :delete %> </p><br/><br/>
      </section>
    </section>
  <% end %>

  <%= link_to 'Create New Pet', "/shelters/#{@shelter.id}/pets/new" %>
</center>
