<center>
  <% if !favorites.contents.empty? %>
  <h1>All Favorited Pets</h1>
  <p><%= link_to "Apply to Adopt", "/favorites/applications/new" %></p>
    <% favorites.pet_objects.each do |pet| %>
      <section id= 'favorite-<%=pet["id"]%>'>
        <img src= <%= pet["image"] %>>
        <p>Name: <%= link_to pet["name"], "/pets/#{pet["id"]}" %></p>
        <p><%= link_to "Remove #{pet.name} From Favorites", "/favorites/#{pet["id"]}", method: :delete %></p>
      </section>
    <% end %>
    <p><%= link_to "Remove All From Favorites", "/favorites", method: :delete %></p>
  <% else %>
  <h1>No Pets in Favorites</h1>
  <% end %>
  <br>
  <h1>Pets Applied For</h1>
  <section id= "pets-applied-for">
<% favorite.pets_with_apps.each do |pet_id| %>

  </section>
</center>
