<center>
  <h1>Editing</h1>
  <%= form_tag path, method: method do %>
    <%= label_tag :name %>
    <%= text_field_tag :name, (@pet.name if @pet) %>

    <%= label_tag :description %>
    <%= text_field_tag :description, (@pet.description if @pet) %>

    <%= label_tag :approximate_age %>
    <%= text_field_tag :approximate_age, (@pet.approximate_age if @pet) %>

    <%= label_tag :sex %>
    <%= text_field_tag :sex, (@pet.sex if @pet) %>

    <%= label_tag :image %>
    <%= text_field_tag :image, (@pet.image if @pet) %>

    <%= submit_tag button_text %>
  <% end %>
</center>
