<center>
  <h1> <%= @pet.name %> </h1>
  <img src= <%= @pet.image %>>
  <p> Description: <%= @pet.description %> </p>
  <p> Aproximate Age: <%= @pet.approximate_age %> </p>
  <p> Sex: <%= @pet.sex %> </p>

  <% if @pet.adoptable? %>
    <p>Adoption Status: Adoptable</p>
  <% else %>
    <p>Adoption Status: Pending</p>
  <% end %>

  <% if pet_in_favorites?(@pet.id) %>
    <p><%= link_to "Remove #{@pet.name} From Favorites", "/favorites/#{@pet.id}", method: :delete %></p>
  <% else%>
    <p><%= link_to "Add #{@pet.name} to Favorites", "/favorites/#{@pet.id}", method: :patch %></p>
  <% end %>

  <p> <%= link_to "Edit #{@pet.name}", "/pets/#{@pet.id}/edit" %> </p>
  <p> <%= link_to "Delete Pet Profile", "/pets/#{@pet.id}", method: :delete %> </p>
<h2>Applications for <%= @pet.name %></h2>
<% @pet.applications.each do |application| %>
<p><%= link_to "#{application.name}'s Application", "/applications/#{application.id}" %> </p>
<% end  %>
</center>
